<h1>Login</h1>


<form method="POST" action="/login">
  <p>
    <input type="text" name="username"></input>
  </p>
  <p>
    <!-- this should be input type="password" to protect the user's password
    but we will leave it as text to make it easier to debug -->
    <input type="text" name="password"></input>
  </p>
  <p>
    <input type="submit" value="Login" />
  </p>

</form>
